
__pycache__/
*.h5
*.pt
*.egg-info/
ckpts/

raw_data/
timm/
.vscode/

deploy_dir/
deploy_vis_dir/
ablation_data/

training_data_example/
/data
/Improved-3D-Diffusion-Policy/rm_description
/Improved-3D-Diffusion-Policy/checkpoints
/sam2
/utils
